html, body {
  height: 100%;
  margin: 0;
}

#home *, #docs-title * {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fed;
  text-shadow: 1px 1px 2px black;
}

#home a:hover, #docs-title a:hover {
  color: #dca;
}

#header {
  padding: .5em;
  text-align: right;
  font-size: 1.5em;
}

#title a {
  text-decoration-color: rgba(0, 0, 0, 0);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

#home p , #home ul {
  font-size: 1.7em;
}

#title {
  text-align: center;
  padding-top: 4em;
  padding-bottom: 2em;
}

#docs-title #title {
  padding-top: 2.5em;
}

#description {
  margin-top: 0;
  text-align: center;
  line-height: 1.6em;
  list-style: none;
}

#learn-more {
  margin-top: 4em;
  text-align: center;
}

#learn-more a {
  padding: .5em;
  /* background-color: rgba(139, 69, 19, .8);  /\* saddlebrown *\/ */
  background-color: rgba(50, 50, 255, .8);  /* saddlebrown */
  border-radius: .5em;
  text-decoration: none;
}

#home, #docs-title {
  background: url(map-of-the-world.jpg) no-repeat center top;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}

#home, #docs-title {
  box-shadow:
    inset 0 0 2em black,
    0 0 .3em .3em black;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  width: 100%;
  text-align: center;
}

#title h1
{
  font-size: 3.5em;
  font-weight: 500;
  color: #fed;
}

#docs-body h1, h2, h3 {
  font-variant: small-caps;
}

#docs h2 {
  margin-top: 2em;
}

#docs {
  background-color: papayawhip;
}

#docs .body {
  padding: 1em;
  font-size: 1.2em;
}

#docs-body {
  padding-top: 1em;
  padding-bottom: 1em;
}

#docs-body a {
  text-decoration: none;
  color: #42f;
}

#docs-body a:hover, #docs-body a:visited:hover {
  color: #66f;
}

#docs-body a:visited {
  color: #20b;
}

#docs-body img {
  border: 1px solid silver;
  box-shadow: .2em .2em .2em black;
}

#docs-body a img:hover {
  box-shadow: .2em .2em .2em #20a;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: .5em;
  border: 1px solid silver;
}

.schema tr td:first-child, .schema tr td:nth-child(2) {
  font-family: Courier, "Lucida Console", monospace;
}

th {
  text-align: left;
}
